html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

.menu {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: darkblue;
  text-decoration: none;
  color: white;
}

.menu a {
  text-decoration: none;
  color: white;
}
.menu a:hover {
  text-decoration: underline;
}
