html {
  height: 100%;
}

body {
  padding: 2rem;
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

#loginBox{
  background-color: lightblue;
  padding: 0;
  width: 20%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-evenly;
}

.inputBox{
  margin: 0 auto !important;
}

#inputBoxes {
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}